{{ partial "header.html" . }}

    <!-- Wrapper -->
      <div id="wrapper">

        <!-- Header -->
          <header id="header">
            <nav>
              <ul>
                {{ range .Data.Pages.ByWeight }}
                  <li>{{ if isset .Params "link" }}<a href="{{ index .Params "link" }}"{{else}}<a href="#{{ .File.TranslationBaseName }}"{{end}}>{{ if .GetParam "menuname" }}{{ .GetParam "menuname" }}{{ else }}{{ .Title }}{{ end }}</a></li>
                {{ end }}
              </ul>
            </nav>

            <div class="content">
              <div class="inner">
                <h1>{{ .Site.Title | safeHTML }}</h1>
                <p>{{ .Site.Params.description | safeHTML }}</p>
              </div>
            </div>
          </header>

          <!-- <div id="social-icons">
              {{ range .Site.Params.social }}
              <a href="{{ .url }}" target="_blank"> <i class="fa fa-{{ .icon}}"></i></a>
              {{ end }}
          </div> -->

        <!-- Main -->
          <div id="main">
            {{ range .Data.Pages }}
              {{ .Render "onepagestyle" }}
            {{ end }}
          </div>

        <!-- Multilanguage -->
          <div id="languages">
            {{ if .IsTranslated }}
              {{ range $i, $e := .Translations }}
                {{ if $i }}, {{ end }}<a href="{{ .Permalink }}">{{ $e.Language.LanguageName }}</a>
              {{ end}}
            {{ end }}
          </div>
{{ partial "footer.html" . }}
